[Desktop Entry]
Name=Pac-Rat
Comment=The hungriest package hoarder for Arch Linux
Exec=pac-rat
Icon=pac-rat-icon
Terminal=false
Type=Application
Categories=System;Settings;
Keywords=package;manager;arch;pacman;aur;
