[Desktop Entry]
Name=Pacman Manager
Comment=A modern package manager for Arch Linux
Exec=pacman-manager
Icon=pacman-manager
Terminal=false
Type=Application
Categories=System;Settings;
Keywords=package;manager;arch;pacman;aur;
